# Entorno virtual de Python
venv/
env/
.env

# Base de datos de SQLite
db.sqlite3

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de Django
media/
*.log

# React (Node.js)
node_modules/
dist/
build/
.output/

# Configuración de VS Code (opcional)
.vscode/
node_modules/db.sqlite3
